<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{_('Dublin City')}}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="../static/assets/img/dublin_logo_transparent.png" alt="Visit Dublin Logo" class="logo">
            </div>
            <ul class="nav-links">
                <li><a href="#">{{_('Home')}}</a></li>
                <li><a href="#">{{_('Destinations')}}</a></li>
                <li><a href="#">{{_('Tours')}}</a></li>
                <li><a href="#">{{_('Contacts')}}</a></li>
                <li class="lang-toggle"><a href="/set-lang/en">EN</a> | <a href="/set-lang/da">DA</a>| <a href="/set-lang/el">EL</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="city-background">
            <div class="overlay">
                <div class="hero-container">
                    <div class="hero">
                        <h1>{{_('Welcome to Dublin')}}</h1>
                        <p>{{_('Discover the best places to visit, eat and enjoy')}}</p>
                        <div class="main-text">
                            <p>{{_('Delve into Dublins captivating blend of the past and present, where historic castles and charming streets converge with lively nightlife. Immerse yourself in the warmth of Irish hospitality at welcoming pubs, where you can taste the essence of local cuisine. Embark on a journey through Dublins cultural legacy at esteemed museums, uncovering stories from centuries past.')}}</p>
                        </div>
                    </div>
                    <div class="photo-right">
                        <img src="../static/assets/img/bridge.jpg" alt="Dublin Portrait" class="image-border">
                    </div>
                </div>
            </div>
        </div>

        
       



      
        

    </main>
    <footer>
        <p>&copy;{{_('Dublin City Tourism')}}</p>
    </footer>
</body>
</html>
