<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{_('Dublin City')}}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/styles_el.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="photo-logo">
                <img src="../static/assets/img/dublintourism.png" alt="Dublin Portrait" class="image-border">
            </div>
            <ul class="nav-links">
                <li><a href="#">{{_('Home')}}</a></li>
                <li><a href="#">{{_('Destinations')}}</a></li>
                <li><a href="#">{{_('Tours')}}</a></li>
                <li><a href="#">{{_('Contacts')}}</a></li>
                <li class="lang-toggle"><a href="/set-lang/en">EN</a> | <a href="/set-lang/da">DA</a>| <a href="/set-lang/el">el</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="city-background">
            <div class="overlay">
                <div class="hero-container">
                    <div class="hero">
                        <h1>{{_('Welcome To Dublin City Tourism Page')}}</h1>
                        <p>{{_('Discover the best places to visit, eat and enjoy')}}</p>
                        <div class="main-text">
                            <p>{{_('Discover Dublin, the heart of Ireland, where history and modern times blend harmoniously. Wander the cobbled streets, explore ancient castles and enjoy the vibrant nightlife. Experience the warmth of Irish hospitality in traditional pubs while enjoying local delicacies. Immerse yourself in the rich cultural heritage in world-class museums and galleries. Dublin awaits with open arms, offering unforgettable experiences. Come for the sights, stay for the stories. Dublin, where every corner tells a story, beckons you.')}}</p>
                        </div>
                    </div>
                    <div class="photo-right">
                        <img src="../static/assets/img/bridge.jpg" alt="Dublin Portrait" class="image-border">
                    </div>
                </div>
            </div>
        </div>

        <section class="card-features">
            <article class="card">
                <h2>{{_('Nightlife')}}</h2>
                <p>{{_('Explore the rich nightlife of the city')}}</p>
                <img src="../static/assets/img/templebar.jpg" >
            </article>
            <article class="card">
                <h2>{{_('Culinary Delights')}}</h2>
                <p>{{_('Enjoy the flavors of the city\'s best cuisines.')}}</p>
                <img src="../static/assets/img/seafood-chowder-pic.webp">
            </article>
            <article class="card">
                <h2>{{_('Nature Adventure')}}</h2>
                <p>{{_('Find adrenaline with nature activities for all ages.')}}</p>
                <img src="../static/assets/img/cliffs.jpeg" >
            </article>
        </section>
        
        <div class="partner-brands">
            <h2>{{_('Our Partner Brands')}}</h2>
            <div class="brand-container">
                <img src="../static/assets/img/brand.jpg" alt="Brand 1">
                <img src="../static/assets/img/download (1).png" alt="Brand 2">
                <img src="../static/assets/img/download.png" alt="Brand 3">
            </div>
        </div>
        
        <div class="testimonials">
            <h2>{{_('Testimonials')}}</h2>
            <div class="testimonial-item">
                <p class="testimonial-text">{{_("I felt so safe")}}</p>
                <p class="testimonial-author">{{_('- Iris Atlas')}}</p>
            </div>
            <div class="testimonial-item">
                <p class="testimonial-text">{{_("Locals are so hospitable")}}</p>
                <p class="testimonial-author">{{_('- Achilles')}}</p>
            </div>
        </div>



        <div class="email-subscription">
            <h2>{{_('Sign Up for Email Subscription')}}</h2>
            <form action="#" method="post">
                <input type="email" name="email" placeholder="Your Email Address" required>
                <button type="submit" class="subscribe-button">{{_('Subscribe')}}</button>
            </form>
        </div>
        





        <div class="hurling-experience">
            <p>{{_('Experience the thrill of hurling, an ancient Gaelic sport deeply rooted in Irish culture. Join our tours to learn about the history and techniques of this fascinating sport and even try your luck in the game!')}}</p>
            <img src="../static/assets/img/hurl.jpeg" alt="Hurling Experience">
        </div>



        <div class="explore-testimonials">
            <button class="explore-button">{{_('Explore Testimonials')}}</button>
        </div>







    </main>
    <footer>
        <p>&copy;{{_('Dublin City Tourism')}}</p>
    </footer>
</body>
</html>
